<?xml version="1.0" encoding="UTF-8"?>
<beans 	xmlns="http://www.springframework.org/schema/beans"
    	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 包含关系配置文件-->
    <!-- bean definition here -->
    <!-- <import resource="spring-base.xml"/>
    <import resource="spring-bean.xml"/> -->
    
    <import resource="spring-*.xml"/>
    
</beans>